@charset "utf-8";

button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  filter: brightness(0.8);
}

#open-modal-btn {
  background-color: var(--open-btn-color);
  color: var(--default-color);
}

#close-modal-btn {
  font-size: 2.4rem;
  background-color: transparent;
  color: var(--close-btn-color);
}

#close-modal-btn:hover {
  border-radius: 50%;
  opacity: 0.5;
}
